.mealcontainer {
    text-align: center;
    box-shadow: 2px 0px 8px rgb(0, 0, 0);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    background-color: whitesmoke;
    padding: 1rem;
}

.singlemeal {
    color: black;    
}

.price {
    color: rgb(163, 33, 33);
}